@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body, html{
    /* padding: 3px; */
    margin: 0;
    background: #fff;
    height: 600px;
    width: 380px;
    color: #0000ff;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  *{
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
  }

  .visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  

.app-body{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-body::-webkit-scrollbar {
  width: 5px;
  padding: 3px;
}
 
.app-body::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: white;
}
 
.app-body::-webkit-scrollbar-thumb {
  background-color: rgb(0,0,255);
}

header{
    padding-bottom: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 120px;
    padding-bottom: 15px;
    z-index: 20;
    position: sticky;
    top:0;
}

.project-header{
  height: 0;
  min-height: 0px;
  padding-bottom: 0;
  top: 15px;
}

.menu{
  text-align: right;
  color: #0000ff;
}
.menu a{
  padding-left: 1em;
}

.back-button{
  width: 43px;
  height: 24px;
  border: 1px solid #0000ff;
  border-radius: 5px;
  background-color: white;
}

.back-button:hover{
  background-color: #0000ff;
}

.back-button:hover path{
  fill: white;
}

.container {
    font-size: 16px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 8px;
    height: auto;
    padding: 15px 15px 15px;
    width: 380px;
    color: #0000ff;
    min-height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container.project{
  padding-top: 0;
}

.main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info{
  z-index: 10;
}

.sidebar-overlay{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 100;
  height: 100vh;
  overflow: auto;
  transition: 
    left .3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    visibility 0ms .3s linear;
}

.sidebar-overlay.is-active{
  left: 0;
  visibility: visible;
  transition: 
    left .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    visibility 0ms 0ms linear;
}

.sidebar-overlay::-webkit-scrollbar {
  width: 5px;
  padding: 3px;
}
 
.sidebar-overlay::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: white;
}
 
.sidebar-overlay::-webkit-scrollbar-thumb {
  background-color: rgb(0,0,255);
}

.paused .fade{
  opacity: .2;
  transition: opacity .2s ease-in-out;
}

.fade{
  transition: opacity .2s ease-in-out;
}

.paused .paused-display{
  opacity: 1;
  transition: top .2s ease-in-out;
  top: 0;
}

.paused .popup-timer{
  /* opacity: 0; */
  transition: top .2s ease-in-out;
  top: -168px;
}

.popup-timer, .paused-display, section, img{
  transition: opacity .2s ease-in-out;
}


.paused .switch{
  opacity: 1;
}

i, em{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
}

b, strong{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: inherit;
}

.lowercase{
  text-transform: initial;
}

.toggle-button{
  margin-bottom: 15px;
}

.box{
    padding: 13px;
    border: 1px solid #0000ff;
    margin-bottom: 15px;
    border-radius: 5px;
}

.green-shadow{
  box-shadow: 4px 4px 6px rgba(255,51,237, 1);
}

.red-shadow{
  box-shadow: 4px 4px 4px rgba(255,51,237, 1);
}

.white-shadow{
  box-shadow: 4px 4px 6px rgba(255,255,255, 1);
}

.body-content{
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.body-content p{
  padding-bottom: 1em;
}

.body-content p:last-child{
  padding-bottom: 0;
}


.box-header{
  font-size: 12px;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.popup-title{
  padding-top: 22px;
  font-size: 22px;
  padding-right: 30px;
}

.popup-details{
  font-size: 16px;
  display: grid;
  grid-template-columns: 90px 1fr;
  row-gap: 8px;
  column-gap: 1em;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  font-weight: 400;
  padding-right: 20px;
}


.credit-details{
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  font-weight: 400;
  padding-right: 20px;
}

dl{
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 8px;
  column-gap: 1em;
}

dt{
  /* text-transform: uppercase; */
}

dt, dd{
  padding: 0;
  margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

.timer-box{
    min-height: 118px;
    position: relative;
    overflow: hidden;
    flex: 1;
}

.popup-timer{
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
    transition: top .2s ease-in-out;
}

.timer-display{
  font-family: 'Major Mono Display', monospace;
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 15px;
  height: calc(100% - 30px);
}

.paused-display{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  top: 168px;
  left: 0;
  font-family: futura-pt-bold, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 45px;
  z-index: 2;
  opacity: 0;
  background-color: white;
  text-transform: uppercase;
  transition: top .2s ease-in-out;
}

div#content {
    width: 200px;
}

div[id^="popup-"] {
    margin-bottom: 10px;
}

footer{
    padding-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-link-container{
  align-self: end;
}

.wrong-logo{
    float: right;
}


/* LINKS */

.link-item{
  font-size: 14px;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
}

footer .link-item{
  font-size: 10px;
}

.link-item:link, .link-item:visited{
  text-decoration: none;
  text-transform: uppercase;
}

.link-item:hover{
  color: #ff00ff;
}

a, a:link, a:visited{
  color: inherit;
}

a:hover, a:active{
  color: #ff00ff;
}


/* TOGGLE BUTTON STYLES */

.switch:hover .slider{
  outline-color: #ff00ff;;
}

.switch:hover .slider-label:before{
  color: #ff00ff;;
}

.switch:hover .slider:before{
  background-color: #ff00ff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    padding-left: 60px;
    height: 20px;
    font-family: futura-pt-bold, sans-serif;
    font-size: 12px;
    line-height: 20px;
    align-self: end;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    background-color: #fff;
    outline: 1px solid #0000ff;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: #0000ff;
    transition: left .2s ease-in-out;
  }

  .switch:hover .slider{
      background-color: #fff;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #fff;
    /* outline-color: limegreen; */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px magenta;
  }
  
  input:checked + .slider:before {
    left: 32px;
    /* background-color: limegreen; */
    transition: left .2s ease-in-out;
  }

  .slider-label:before{
      content: "On / Off";
  }

  .paused .slider-label:before{
      content: "On / Off";
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.close-all-button{
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  float:right;  
  height: 20px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 12px;
  line-height: 20px;
  align-self: end;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  color: blue;
}

.close-all-button:hover{
  color: #ff00ff;
}


  /* ARCHIVE */

  .archive-content{
    padding-bottom: 16px;
  }

  .archive-content .box-header{
    padding-bottom: 1em;
  }

  .archive-item{
    display: block;
    text-decoration: none;
    padding: 0;
    /* aspect-ratio: 35/22; */
    /* background-color: grey; */
    /* font-weight: 700; */
    line-height: 1.5;
    /* position: relative; */
    line-height: 1.5;
    position: relative;
    overflow: hidden;
  }

  .archive-item--info-layer{
/*    position: absolute;
    top:0;
    left: 0;*/
    z-index: 1;
    width: 100%;
/*    height: 100%;*/
    display: flex;
    flex-direction: column;
    /* backdrop-filter: blur(10px); */
    padding: 10px;
    /* background-color: rgba(0,0,0,.1); */
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
  }

  .archive-item--text{
    flex: 1;
    z-index: 1;
    /* text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75); */
  }

  .archive-item--title{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
  }

  .archive-item p{
    padding: 0;
    margin: 0;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
  }

  .archive-content .box-header{
    padding-bottom: 1em;
  }

  .archive-item--cta{
    display: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0;
    color: white;
    text-align: left;
    width: 50%;
    height: 30px;
    padding-left: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
  }

  .archive-item--cta svg{
    position: absolute;
    right:8px;
    top:9px;
  }


  .archive-item .background-image{
    /*position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
    height: 100%;*/
    aspect-ratio: 35/22;
    width: 100%;
    object-fit: cover;
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    display: block;
    /* filter: blur(5px); */
  }

  .archive-item:hover .archive-item--cta{
    background-color: #0000ff;
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .archive-item:hover .archive-item--info-layer{
/*    backdrop-filter: blur(0);*/
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

/*  .archive-item:hover .archive-item--text{
    filter: blur(3px)
  }
*/
  .archive-item:hover{
    background-color: #0000ff;
    color: white;
  }

  .project{
    min-height: 100%;
  }

  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }

  .padding{
    padding-left: 15px;
    padding-right: 15px;
  }

  .project-image{
    width: 100%;
  }

  .project-main{
    transform: translateY(-50px);
  }

  .project-info-box details p{
    padding-bottom: 1em;
  }

  .project-info-box details p:first-child{
    padding-top: 1em;
  }

  .bg-white{
    background-color: white;
  }

  .project-popups{
    padding-top: 30px;
  }

  .project-popups .box-header{
    padding-bottom: 1em;
  }

  .project-main details{
    margin-top: 30px;
  }

  summary{
    cursor: pointer;
  }

  summary:hover{
    color:rgba(255,51,237, 1)
  }

  .popup-button{
    width: 100%;
    color: inherit;
    position: relative;
    padding-right: 65px;
    text-align: left;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
    font-size: 1em;
  }

  .popup-button:hover{
    background-color: blue;
    color: white;
  }

  .popup-button:hover path{
    fill: white;
  }

  .project-button{
    width: 100%;
    color: inherit;
    position: relative;
    padding-right: 65px;
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: left;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
  }

  .project-button .button-loading{
    display: none;
  }

  .project-button.loading{
    pointer-events: none;
  }

  .project-button.loading .button-loading{
    cursor: progress;
    /* background: linear-gradient(45deg, rgba(255,255,255,1) 27%, rgba(255,0,255,1) 50%, rgba(255,255,255,1) 73%); */
    background-size: 400% 400%;
    animation: loading 500ms ease-in-out 0s infinite alternate forwards;
  }

  @keyframes loading {
    0% {
      opacity: 0;
      /* background-position-x: -10%; */
    }
    100% {
      opacity: 1;
      /* background-position-x: 94%; */
    }
  }

  .project-button.loading .button-title{
    display: none;
  }

  .project-button.loading .button-loading{
    display: block;
    background: transparent;
    color: #0000ff!important;
  }

  .project-button:hover{
    background-color: blue;
    color: white;
  }

  .project-button:hover path{
    fill: white;
  }

  .button-title, .button-loading{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    display: block;
  }

  .button-times{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    display: block;
  }

  .popup-button svg{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
  }

  .project-button svg{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }

  #close_all {
    cursor: pointer;
  }