
#rtc_info_button {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 33px;
    height: 33px;
    border-radius: 15px;
    background: white;
    background-image: url(/icons/rtc-24.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/*ben*/

div#timeout {
    display: none;
    position: fixed;
    width: -webkit-fill-available;
    top: 10px;
    justify-content: center;
}

div#timeout_text {
    width: 250px;
    background: white;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    padding: 10px;
    border: #000 solid 1.5px;
    border-radius: 20px;
}

div#stay {
    border: black solid;
    margin: 10px 70px;
    cursor: pointer;
}